body {
    background: black;
    color: white;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-icon {
    width: 4em;
}

.nav-right {
    padding: 1em;
}